*~
tmp
*.dll
out.*.out
*.idb
*.pdb
*.obj
*.pch
*.exe
*.tlog
*.manifest
*.lastbuildstate
*.bad
build/site.mak
*.sdf
*.suo
ipch
thoughts
*.vcxproj.user
Debug
Release
bang.sln
*.manifest.res
*_manifest.rc
